<%- include('header'); -%>
<h1>
    Layouts
</h1>
<p>
    EJS does not specifically support blocks, but layouts can be implemented by including headers and footers, like so:
</p>
<%- include('footer'); -%>